
{% if page.comments %}
<div class="comments-wrapper">
<div id="comment"></div>
<script type="text/javascript">
  $(document).ready(function () {
    var disq = new iDisqus('comment', {
        forum: 'lengerfulluse',
        api: 'http://disqus.auroretech.com',
        site: 'http://www.auroretech.com',
        url: location.pathname,
        mode: 1,
        timeout: 2000,
        init: true,
        badge: "auroretech"
      });
    disq.count();
  });
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div><!-- /.comments-wrapper -->
{% endif %}
