{% if page.comments != false %}
      <link rel="stylesheet" href="/assets/css/iDisqus.min.css" />
      <script src="/assets/js/iDisqus.min.js"></script>
    <body>
        <div id="comment"></div>
        <p>本页共有 <span data-disqus-url="/disqus-php-api.html"></span> 条评论</p>
        <ul id="popular-posts"></ul>
       <script>
            var disq = new iDisqus('comment', {
                forum: 'auroretech',
                site: 'https://www.auroretech.com',
                api: 'http://45.78.40.30',
                mode: 1,
                timeout: 3000,
                popular: document.getElementById('popular-posts'),
                autoCreate: true,
                relatedType: Popular,
                emojiPreview: true,
                init: true
            });
            disq.popular();
            disq.count();
        </script>
{% endif %}
